<div class="content-container">
  <h4>Web application for the Municipality of Celje</h4>


  <div class="slideshow-container">
    <img [src]="images[currentIndex]" class="project-img" alt="Slideshow Image">
  </div>

  <p>
    This was a team project, created during the third year of my study at university. 
    My team consisted of four teammates, Tjaž, Alen, Blaž and Maks. 
    The project's goal was to improve an already existing web application by creating an app
    that was not only easy to use, but also rich with functionality.
    Features include a list of user requests, user and admin login and registration,
    e-mailing service, a map with pinned locations and others.
    I worked on the frontend part of the application which was developed in Angular.
  </p>
</div>