<div class="content-container">
    <h4>Dungeon crawler game</h4>

    <img [src]="imagePath" class="project-img" alt="Preview Image">

      
    <p>This is a game I developed with Alen and Jaka during my studies. 
        It is a third person, dungeon crawler style game, developed both in WebGPU and Unity.
    </p>

    <a [href]="videoPath" target="_blank" >gameplay preview</a>

    <p>Below is a link to the pdf in slovene, describing the game in more detail</p>
    <a href="https://drive.google.com/file/d/14kePMwc7pmjVsjw6EfhTzvNFnnNVsu6I/view?usp=drive_link" target="_blank">pdf link</a>
    
</div>
