
<h4>Dungeon crawler game</h4>

<img [src]="imagePath" class="project-img" alt="Preview Image">

    
<p>This is a game I developed with Alen and Jaka during my studies. 
    It is a third person, dungeon crawler style game, developed both in WebGPU and Unity.
</p>

<p>Gameplay preview
    <a [href]="videoPath" target="_blank" >
        <i class="fas fa-film"></i>
    </a>
</p>

<p>Link to the pdf in slovene, describing the game in more detail
    <a [href]="pdfPath" target="_blank">
        <i class="fas fa-file-pdf"></i>
    </a>
</p>
    

