
<h4>Image analysis</h4>

<img [src]="imagePath" class="project-img" alt="Preview">

<p>This project was developed during the course on design basics. 
    The point of this task was to analyze different properties of painted images across chosen eras.
    It consists of two parts, image analysis and representation of the results.
    My team consisted of four colleagues, Jana, Hana, Eva and myself.
    All of the analysis were done in python.
    <br>
    results website link
    <a href="https://analiza-slik.netlify.app/" target="_blank">
        <i class="fas fa-globe"></i>
    </a>
    <br>
    github repository that was used for color analysis
    <a href="https://github.com/omilab/image-color-analysis" target="_blank">
        <i class="fas fa-globe"></i>
    </a>
    <br>
    link to the published article 
    <a [href]="pdfPath" target="_blank">
        <i class="fas fa-file-pdf"></i>
    </a>
</p>



