.text {
  text-align: center;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three equal columns */
  gap: 30px; /* Add space between grid items */
  width: 100%;
  max-width: 1200px; /* Optional: Limits the width for better design */
  margin: 0 auto; /* Centers the grid */
}

.projects > * {
  flex: 1; /* Equal width for both components */
  overflow: hidden; /* Hide overflowing content */
}

